#moon
  height 30px
  position relative
  overflow hidden
  width 30px


// moon
#moon div:nth-child(0n+1)
  animation-direction alternate
  animation-duration 3s
  animation-iteration-count infinite
  animation-name moon
  animation-play-state inherit
  animation-timing-function linear
  background-color fgColor
  border-radius 50%
  box-shadow 0 0 10px 2px fgColor
  height 16px
  margin 7px
  width 16px


// mask
#moon div:nth-child(0n+2)
  animation-direction alternate
  animation-duration 3s
  animation-iteration-count infinite
  animation-name mask
  animation-play-state inherit
  animation-timing-function linear
  background-color bgColor
  border-radius 50%
  height 16px
  left -16px
  margin 7px
  position absolute
  top -16px
  width 16px

@-webkit-keyframes moon
  from
    box-shadow 0 0 10px 2px fgColor

  50%
    box-shadow 0 0 10px 2px fgColor

  to
    box-shadow 0 0 0 0 fgColor

@-webkit-keyframes mask
  from
    left -16px
    top -16px

  to
    left 0
    top 0
