#cubicle {
  height: 30px;
  margin: auto;
  width: 30px;
}

#cubicle div {
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: cubicle;
  -webkit-animation-play-state: paused;
  -webkit-animation-timing-function: linear;
  float: left;
  height: 11px;
  margin: 2px;
  outline: 0 solid #000;
  width: 11px;
}

#cubicle div:nth-child(0n+1) {
  -webkit-animation-delay: 0s;
  background-color: #2187e7;
  outline-color: #2187e7;
}

#cubicle div:nth-child(0n+2) {
  -webkit-animation-delay: 0.25s;
  background-color: #2187e7;
  outline-color: #2187e7;
}

#cubicle div:nth-child(0n+3) {
  -webkit-animation-delay: 0.5s;
  background-color: #2187e7;
  outline-color: #2187e7;
}

#cubicle div:nth-child(0n+4) {
  -webkit-animation-delay: 0.75s;
  background-color: #2187e7;
  outline-color: #2187e7;
}

@-webkit-keyframes cubicle {
  from {
    outline-width: 0;
  }

  6.25% {
    outline-width: 2px;
  }

  12.5% {
    outline-width: 0;
  }

  to {
    outline-width: 0;
  }
}