fgColor = #2187e7
borderColor = #333
bgColor = #111


animation-delay(delay)
  -webkit-animation-delay delay
  -moz-animation-delay delay
  -o-animation-delay delay
  animation-delay delay

animation-direction(direction)
  -webkit-animation-direction direction
  -moz-animation-direction direction
  -o-animation-direction direction
  animation-direction direction

animation-duration(duration)
  -webkit-animation-duration duration
  -moz-animation-duration duration
  -o-animation-duration duration
  animation-duration duration

animation-iteration-count(count)
  -webkit-animation-iteration-count count
  -moz-animation-iteration-count count
  -o-animation-iteration-count count
  animation-iteration-count count

animation-name(name)
  -webkit-animation-name name
  -moz-animation-name name
  -o-animation-name name
  animation-name name

animation-play-state(state)
  -webkit-animation-play-state state
  -moz-animation-play-state state
  -o-animation-play-state state
  animation-play-state state

animation-timing-function(function)
  -webkit-animation-timing-function function
  -moz-animation-timing-function function
  -o-animation-timing-function function
  animation-timing-function function

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -o-box-shadow arguments
  box-shadow arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -o-transform arguments
  transform arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments


body
  background -webkit-radial-gradient(#000 15%, transparent 16%) 0 0,
             -webkit-radial-gradient(#000 15%, transparent 16%) 8px 8px,
             -webkit-radial-gradient(
               rgba(255, 255, 255, 0.1) 15%,
               transparent 20%
             ) 0 1px,
             -webkit-radial-gradient(
               rgba(255, 255, 255, 0.1) 15%,
               transparent 20%
             ) 8px 9px
  background-color #282828
  background-size 16px 16px
  color fgColor
  font-family "Source Code Pro", sans-serif
  font-size 14px
  font-weight 700
  text-shadow 1px 1px borderColor

h1, h2, #toc li, #toc, #toc li:before, #toc li:after, #loaderInfo, footer
  border-radius 4px
  box-shadow inset 2px 2px 30px #000
  padding 10px

h1, h2
  display table
  margin auto
  padding 10px
  text-align center

h1
  font-size 3em
  margin-bottom 5px
  margin-top 20px

  &:before
    content "{"

  &:after
    content "}"

h2
  font-size 1em

h3
  font-size 1.2em
  margin 0
  text-align center

#toc
  display table
  list-style-type none
  margin 60px auto
  padding 0
  width 644px

  > li
    background-color bgColor
    border-color bgColor borderColor borderColor bgColor
    border-style solid
    border-width 1px
    cursor pointer
    float left
    height 30px
    padding 10px
    position relative
    margin 20px
    width 30px

    &.play
      border 1px solid bgColor
      z-index 2

      div
        animation-play-state running

    &.pause div
      animation-play-state paused

#loaderInfo
  background-color bgColor
  border 1px solid fgColor
  display none
  height 120px
  left 0
  padding 5px
  position absolute
  top 0
  transition left 0.5s ease-in
  z-index 1

  a
    display block
    font-size 0.75em
    margin-top 85px
    text-align center
    white-space nowrap

    &:before
      content "by "

  & > div
    display inline-block

#loaderInfoCss, #loaderInfoHtml
  overflow hidden
  transition width 0.5s ease-in
  width 150px

  &.hidden
    width 0

footer
  clear both
  display table
  font-size 0.75em
  margin auto
  padding 0.5em
  padding-left 0
  text-align center

  span
    display inline-block
    margin 0 0.5em

a
  color fgColor
  text-decoration underline

a:hover
  text-shadow 0 0 2px fgColor
