#glow {
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: glow;
  -webkit-animation-play-state: paused;
  -webkit-animation-timing-function: linear;
  background-color: #2187e7;
  border-radius: 50%;
  box-shadow: 0 0 5px #2187e7;
  height: 10px;
  margin: 10px auto;
  width: 10px;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 5px #2187e7;
  }

  to {
    box-shadow: 0 0 10px 2px #2187e7;
  }
}