/*#heart {
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: heart;
  -webkit-animation-timing-function: linear;
  height: 90px;
  margin: auto;
  position: relative;
  width: 100px;
}

#heart:before, #heart:after {
  background: red;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 80px;
  left: 50px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  width: 50px;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
}

@-webkit-keyframes heart {

}*/

#heart {
  background-color: #0f0;
  height: 45px;
  margin: auto;
  position: relative;
  width: 50px;
}

#heart:before, #heart:after {
  background-color: #f00;
  border-radius: 25px 25px 0 0;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  width: 50%;
}

#heart:after {
  -webkit-transform: rotate(-45deg);
}