#semi_border {
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1.25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: semi_border;
  -webkit-animation-play-state: paused;
  -webkit-animation-timing-function: linear;
  border: 7px solid transparent;
  border-left-color: #2187e7;
  border-radius: 50%;
  height: 16px;
  margin: auto;
  width: 16px;
}

@-webkit-keyframes semi_border {
  from {
    -webkit-transform: rotate(0);
  }

  50% {
    -webkit-transform: rotate(180deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
