#helicopter
  -webkit-animation-direction normal
  -webkit-animation-duration 0.05s
  -webkit-animation-iteration-count infinite
  -webkit-animation-name helicopter
  -webkit-animation-timing-function linear
  border 15px solid fgColor
  border-color transparent transparent transparent fgColor
  border-radius 50%
  height 0
  width 0

@-webkit-keyframes helicopter
  from
    -webkit-transform rotate(0deg)

  to
    -webkit-transform rotate(360deg)

