#radar
  -webkit-animation-direction normal
  -webkit-animation-duration 1s
  -webkit-animation-iteration-count infinite
  -webkit-animation-name radar
  -webkit-animation-timing-function linear
  border 2px solid fgColor
  border-radius 50%
  height 28px
  width 28px

#radar:after
  border 14px solid transparent
  border-left-color fgColor
  border-radius 50%
  content ""
  display block
  height 0
  width 0

@-webkit-keyframes radar
  from
    -webkit-transform rotate(0deg)

  to
    -webkit-transform rotate(360deg)


