#helicopter
  animation-direction normal
  animation-duration 0.05s
  animation-iteration-count infinite
  animation-name helicopter
  animation-play-state inherit
  animation-timing-function linear
  border 15px solid fgColor
  border-color transparent transparent transparent fgColor
  border-radius 50%
  height 0
  width 0

@keyframes helicopter
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)

