#glow
  animation-direction alternate
  animation-duration 0.5s
  animation-iteration-count infinite
  animation-name glow
  animation-timing-function linear
  background-color fgColor
  border-radius 50%
  box-shadow 0 0 5px fgColor
  height 10px
  margin 10px auto
  width 10px

@-webkit-keyframes glow
  from
    box-shadow 0 0 5px fgColor

  to
    box-shadow 0 0 10px 2px fgColor