#arrow
  animation-direction normal
  animation-duration 1s
  animation-iteration-count infinite
  animation-name arrow
  animation-play-state inherit
  animation-timing-function linear
  border 2px solid fgColor
  border-radius 50%
  height 26px
  position relative
  width 26px

  &:after
    border 5px solid bgColor
    border-top-color fgColor
    content ""
    display block
    height 0
    left -6px
    position absolute
    top 10px
    width 0

@keyframes arrow
  from
    transform rotate(0deg)

  to
    transform rotate(-360deg)
