#radar
  animation-direction normal
  animation-duration 1s
  animation-iteration-count infinite
  animation-name radar
  animation-play-state inherit
  animation-timing-function linear
  border 2px solid fgColor
  border-radius 50%
  height 28px
  width 28px

#radar:after
  border 14px solid transparent
  border-left-color fgColor
  border-radius 50%
  content ""
  display block
  height 0
  width 0

@keyframes radar
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)
