#dash
  animation-direction normal
  animation-duration 1.5s
  animation-iteration-count infinite
  animation-name dash
  animation-play-state inherit
  animation-timing-function linear
  border 5px dashed fgColor
  border-radius 50%
  height 20px
  width 20px

@keyframes dash
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)
