#semi_border
  animation-direction normal
  animation-duration 1.25s
  animation-iteration-count infinite
  animation-name semi_border
  animation-play-state inherit
  animation-timing-function linear
  border 7px solid transparent
  border-left-color fgColor
  border-radius 50%
  height 16px
  margin auto
  width 16px


@keyframes semi_border
  from
    transform rotate(0)

  to
    transform rotate(360deg)
